
/* .home {
    margin: 10px;
    align-self: center;
} */

.hyper-word{

    background-color: lightskyblue; 
    margin-right: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer; 
}

.hyper-word-combo{

    background-color: lightsalmon; 
    margin-right: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer; 

}

.hover-demo:hover {
    position: relative;
    text-decoration: underline;

  }

.regular-word {
    background-color: transparent;
}

.hyper-letter-even {
    /* CSS Tricks https://css-tricks.com/a-complete-guide-to-css-gradients/ */
    /* wood color like Scrabble - https://www.schemecolor.com/wood-gradient.php*/
    background-color: lightskyblue; 
    margin-right: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer; 
}

.hyper-letter-odd {
    /* CSS Tricks https://css-tricks.com/a-complete-guide-to-css-gradients/ */
    /* wood color like Scrabble - https://www.schemecolor.com/wood-gradient.php*/
    background-color: lightsalmon; 
    margin-right: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer; 
}

/* source: https://onaircode.com/html-css-speech-bubble-examples/ */
.speech-bubble-shadow {

    word-wrap: break-word;

    margin: 30px auto 0 0;

    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 15px;
    position: relative;
  
    p {
      margin-bottom: 10px;
  
      :last-of-type {
        margin-bottom: 0;
      }
    }
}



/* .speech-bubble-shadow__arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
  
    &::before {
      border-left: 23px solid transparent;
      border-top: 23px solid #a7a7a7;
      bottom: 2px;
      content: "";
      position: absolute;
      right: 5px;
    }
    &::after {
      border-left: 21px solid transparent;
      border-top: 21px solid #efefef;
      bottom: 4px;
      content: "";
      position: absolute;
      right: 6px;
    }
} */

