<div class="container text-center mx-auto" style="margin-top: 60px;">
    <div class="row">
      <div class="col justify-content-center" >


                <div class="card_01" style="padding-top: 80px;">
                    <img src="../../../assets/victor.jpg" class="card-img-top-01" alt="Victor - Full Stack Software Developer">
                    <div class="card-body">
                        <h1 class="card-title">Victor-Pierre Barnes</h1>
                        <p class="card-text">Full Stack Software Developer</p>
                        <a href="https://www.linkedin.com/in/victorpierrebarnes" target="_blank" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>


                <div class="card_01">
                    <img src="../../../assets/justin.jpg" class="card-img-top-01" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Justin Jones</h1>
                        <p class="card-text">C#.Net Instructor</p>
                        <a href="https://www.linkedin.com/in/justinjones-961" target="_blank" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>



      </div>
      <div class="col justify-content-center">


            <div class="card_01">
                <img src="../../../assets/logan.jpg" class="card-img-top-01" alt="Logan - Full Stack Software Developer">
                <div class="card-body">
                    <h1 class="card-title">David (Logan) Reeves</h1>
                    <p class="card-text">Full Stack Software Developer</p>
                    <a href="https://www.linkedin.com/in/d-logan-reeves" target="_blank" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>


                <div class="card_01">
                    <img src="../../../assets/ethan.jpg" class="card-img-top-01" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Ethan Thomas</h1>
                        <p class="card-text">C#.Net Teaching Assistant</p>
                        <a href="https://www.linkedin.com/in/ethan-thomas-1goodprogrammer" target="_blank" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>

      </div>
      <div class="col justify-content-center">


                <div class="card_01">
                    <img src="../../../assets/rod.jpg" class="card-img-top-01" alt="Rod - Software Developer">
                    <div class="card-body">
                        <h1 class="card-title">Rodrigo (Rod) Mastria</h1>
                        <p class="card-text">Full Stack Software Developer</p>
                        <a href="https://www.linkedin.com/in/rodmastria" target="_blank" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>

                <div class="card_01">
                    <img src="../../../assets/shauna.jpg" class="card-img-top-01" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Shauna Peterson</h1>
                        <p class="card-text">Graphic Design Consultant</p>
                        <a href="https://www.linkedin.com/in/shauna-peterson" target="_blank" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>

      </div>
    </div>
  </div>