
/* .home {
    margin: 10px;
    align-self: center;
} */

.hyper-word{

    background-color: lightskyblue; 
    margin-right: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer; 
}

.hyper-word-combo{

    background-color: lightsalmon; 
    margin-right: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    cursor: pointer; 

}

.hover-demo:hover {
    position: relative;
    text-decoration: underline;

}


/* source: https://onaircode.com/html-css-speech-bubble-examples/ */
.speech-bubble-shadow {

    word-wrap:break-word;
    width: 90%;
    margin: 30px auto 0 0;
    text-align: start;

    background: #efefef;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 15px;
    position: relative;
  
    p {
      margin-bottom: 10px;
  
      :last-of-type {
        margin-bottom: 0;
      }
    }
}