@if(loggedIn){
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue; 
        position: relative; top: 0; width: 100%; z-index: 1;">

            <a class="navbar-brand collapse navbar-collapse" style="margin-left: 10px;">{{title}}</a>

            <div class="navbar-collapse" id="navbarNavDropdown">

                <!-- push navigation bar to the right corner -->
                <ul class="navbar-nav ms-auto" style="margin-right: 1%; margin-left: 10%;">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" style="margin-left: 1%;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/fav" style="margin-left: 1%;">Favorites</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguage" data-bs-toggle="dropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 1%;">
                            Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 1%;">
                            <a class="dropdown-item" (click)="setLanguage(speechService.languagePrefEnglish)">English USA @if(speechService.languagePref == speechService.languagePrefEnglish){&nbsp;&#10003;}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="setLanguage(speechService.langPrefSpanishUSA)">Spanish USA @if(speechService.languagePref == speechService.langPrefSpanishUSA){&nbsp;&#10003;}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="setLanguage(speechService.langPrefSpanishSpain)">Spanish Spain @if(speechService.languagePref == speechService.langPrefSpanishSpain){&nbsp;&#10003;}</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTopic" data-bs-toggle="dropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 1%;">
                            Subject
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 1%;">
                            <a class="dropdown-item">Biology</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Chemistry</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Physics</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Programming</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" style="margin-left: 1%;">About</a>
                    </li>

                    <li class="nav-item">
                        <button type="button" class="btn btn-link" (click)="signOut()">Sign Out</button>
                    </li>
                </ul>
            </div>

    </nav>
}

<router-outlet></router-outlet>