

@if (!loggedIn) { 
    <div class="row custom-row">
        <div style="background-image:url('/assets/realpic.jpg'); 
            background-size: 250px; background-repeat: no-repeat; 
            background-position-y: 20%; background-position-x: center;">
        
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue; display: flex; justify-content: space-between;">

                <a class="navbar-brand" style="margin-left: 10px;">{{title}}</a>

                <ul class="navbar-nav" >
                    <li class="nav-item">
                    
                        <span style="display: flex; justify-content: center; margin-right: 10px;" >
                            <asl-google-signin-button type="standard"></asl-google-signin-button>
                        </span>    
                    
                    </li>
                </ul>           

            </nav>
        </div>  
    </div>

}

<router-outlet></router-outlet>