

@if (!loggedIn) { 
    <div class="row custom-row">
    <div style="background-image:url('/assets/realpic.jpg'); opacity: 0.5; background-size: cover; background-repeat: no-repeat;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">

        <a class="navbar-brand" href="#" style="margin-left: 10px;">{{title}}</a>

    </nav>

    <table class="login-table">
        <tr>
            <td><p style="text-align: center; margin-right: 10px;">Continue with Google &#10132;</p></td>
            <td><asl-google-signin-button class="vertical-center" ></asl-google-signin-button></td>
        </tr>
    </table>

    </div>  
    </div>
}

<router-outlet></router-outlet>