@if(loggedIn){
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

            <a class="navbar-brand" href="#" style="margin-left: 10px;">{{title}}</a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/fav">Favorites</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Subject
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">English</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Spanish</a>
                        </div>
                    </li>
                </ul>
            </div>

        

    </nav>
}
@else {
    <p>Please login to continue</p>
}

<router-outlet />